 .u-section-1 {
  background-image: url("images/ef11945bd53db7a787d1cd5449d79d47.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-image-1 {
  width: 273px;
  height: 256px;
  animation-duration: 1000ms;
  margin: 215px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 656px;
  min-height: 305px;
  animation-duration: 1000ms;
  margin: -279px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  margin: 58px 30px 0 20px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 242px;
  min-width: 146px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 84px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 200px;
    min-width: 120px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: -277px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 347px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -408px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 111px;
    height: 104px;
    margin-top: 231px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -141px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 25px;
    margin-right: 44px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 908px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 42px auto 42px 0;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(96,128,103,0.2), rgba(96,128,103,0.2)), url("images/14e4d769443273705cb4464caa292a15.jpeg");
  min-height: 451px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  font-family: Montserrat, sans-serif;
  margin: 275px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  margin: 12px 0 42px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/df8f4ca088fb1e96c3381dd782ae305b.jpeg");
  min-height: 421px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  background-image: url("images/4572e65d692a70206d9058f1afaae523.jpeg");
  min-height: 295px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  background-image: url("images/8b6c3085cf245326bb89ea63e3a9be7c.jpeg");
  min-height: 282px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-5 {
  background-image: url("images/7e07fe7d9b58d116b85bb68cac0ad0a5.jpeg");
  min-height: 295px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-6 {
  background-image: url("images/600acce987d9794ac56c78a97ccff5a7.jpeg");
  min-height: 437px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(96,128,103,0.2), rgba(96,128,103,0.2)), url("images/c80274b95c5e2be6de27fc8f67e8b308.jpeg");
  min-height: 435px;
  background-position: 50% 50%;
}

.u-section-2 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-family: Montserrat, sans-serif;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(96,128,103,0.05), rgba(96,128,103,0.05)), url("images/c5377a02b45fdcae4955c3165f845a1c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 479px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 68px auto 68px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 343px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 13px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: Montserrat, sans-serif;
  margin: 35px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 13px 0 35px;
}

.u-section-3 .u-btn-2 {
  margin-left: 0;
  margin-right: 0;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 700;
  border-style: none;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 343px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 11px;
  }

  .u-section-3 .u-btn-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 4px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 874px;
}

.u-section-4 .u-group-1 {
  width: 755px;
  min-height: 200px;
  margin: 44px auto 0 0;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 2px;
  font-size: 3rem;
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -4px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 562px;
}

.u-section-4 .u-image-1 {
  height: 312px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 33px 20px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  border-style: none;
  margin: 27px 20px 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 562px;
}

.u-section-4 .u-image-2 {
  height: 312px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 33px 20px 27px;
}

.u-section-4 .u-btn-3 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  border-style: none;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  border-style: none;
  margin: -21px 20px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-4 .u-image-1 {
    height: 257px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 82px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 197px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-1 {
    height: 296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-1 {
    height: 186px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 778px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 56px 0 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  border-style: none;
  margin: 12px auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 339px;
  background-image: url("images/pexels-photo-3062948.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 339px;
  background-image: url("images/pexels-photo-6171394.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 678px;
  background-image: url("images/pexels-photo-5490234.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
  }

  .u-section-5 .u-image-1 {
    min-height: 280px;
  }

  .u-section-5 .u-image-2 {
    min-height: 280px;
  }

  .u-section-5 .u-image-3 {
    min-height: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 357px;
  }

  .u-section-5 .u-image-2 {
    min-height: 357px;
  }

  .u-section-5 .u-image-3 {
    min-height: 1070px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1923px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 536px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 268px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 803px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 337px;
  }

  .u-section-5 .u-image-2 {
    min-height: 169px;
  }

  .u-section-5 .u-image-3 {
    min-height: 506px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 255px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-6 .u-text-1 {
  margin: 0 60px;
}

.u-section-6 .u-text-2 {
  margin: 3px 60px 0;
}

.u-section-6 .u-image-1 {
  width: 150px;
  height: 140px;
  margin: -84px 15px 0 auto;
}

.u-section-6 .u-text-3 {
  margin: -56px 60px 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 45px;
}

.u-section-6 .u-text-4 {
  letter-spacing: 2px;
  font-family: Montserrat, sans-serif;
  margin: 39px 15px 0 0;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 15px 0 0;
}

.u-section-6 .u-form-1 {
  height: 44px;
  margin: 15px 15px 0 0;
}

.u-section-6 .u-form-group-1 {
  margin-left: 0;
}

.u-section-6 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 299px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 775px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 109px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-2 {
    width: 350px;
    margin-right: -40px;
    margin-left: 49px;
  }

  .u-section-6 .u-image-1 {
    width: 104px;
    height: 98px;
    margin-top: 15px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    width: 350px;
    margin-top: 4px;
    margin-right: -40px;
    margin-left: 49px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 169px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-text-1 {
    margin-right: 69px;
    margin-left: 38px;
  }

  .u-section-6 .u-text-2 {
    width: 268px;
    margin-right: -25px;
    margin-left: 38px;
  }

  .u-section-6 .u-image-1 {
    width: 98px;
    height: 99px;
    margin-right: 7px;
  }

  .u-section-6 .u-text-3 {
    width: 268px;
    margin-top: 3px;
    margin-right: -25px;
    margin-left: 38px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 269px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 149px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 95px;
    margin-left: 20px;
    width: auto;
  }

  .u-section-6 .u-image-1 {
    width: 223px;
    height: 218px;
    margin-top: 9px;
    margin-right: 20px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -110px;
    margin-right: 95px;
    margin-left: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 44px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 79px;
    margin-left: 6px;
  }

  .u-section-6 .u-image-1 {
    width: 84px;
    height: 83px;
    margin-top: 35px;
    margin-right: -24px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -1px;
    margin-right: 40px;
    margin-left: 6px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
}