 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.6), rgba(41,46,51,0.6)), url("images/14e4d769443273705cb4464caa292a15.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 284px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Lato, sans-serif;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 80px 85px 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 22px auto 0 114px;
}

.u-section-1 .u-text-2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 22px 151px 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  animation-duration: 1000ms;
  margin: 80px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-left: 28px;
  }

  .u-section-1 .u-text-2 {
    width: 839px;
    margin-right: 50px;
    margin-left: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 255px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-2 .u-text-1 {
  margin: 0 60px;
}

.u-section-2 .u-text-2 {
  margin: 3px 60px 0;
}

.u-section-2 .u-image-1 {
  width: 150px;
  height: 140px;
  margin: -84px 15px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -56px 60px 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 45px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  font-family: Montserrat, sans-serif;
  margin: 39px 15px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 15px 0 0;
}

.u-section-2 .u-form-1 {
  height: 44px;
  margin: 15px 15px 0 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 299px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 775px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 109px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-2 {
    width: 350px;
    margin-right: -40px;
    margin-left: 49px;
  }

  .u-section-2 .u-image-1 {
    width: 104px;
    height: 98px;
    margin-top: 15px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    width: 350px;
    margin-top: 4px;
    margin-right: -40px;
    margin-left: 49px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 169px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 69px;
    margin-left: 38px;
  }

  .u-section-2 .u-text-2 {
    width: 268px;
    margin-right: -25px;
    margin-left: 38px;
  }

  .u-section-2 .u-image-1 {
    width: 98px;
    height: 99px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-3 {
    width: 268px;
    margin-top: 3px;
    margin-right: -25px;
    margin-left: 38px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 269px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 149px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 95px;
    margin-left: 20px;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 223px;
    height: 218px;
    margin-top: 9px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -110px;
    margin-right: 95px;
    margin-left: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 44px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 79px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 84px;
    height: 83px;
    margin-top: 35px;
    margin-right: -24px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -1px;
    margin-right: 40px;
    margin-left: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
}