 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  animation-duration: 1000ms;
  margin: 45px 120px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-image-1 {
  min-height: 406px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 406px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 308px;
  margin: 0 -60px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 53px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-image-1 {
    min-height: 335px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 257px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 364px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 255px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-2 .u-text-1 {
  margin: 0 60px;
}

.u-section-2 .u-text-2 {
  margin: 3px 60px 0;
}

.u-section-2 .u-image-1 {
  width: 150px;
  height: 140px;
  margin: -84px 15px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -56px 60px 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 45px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  font-family: Montserrat, sans-serif;
  margin: 39px 15px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 15px 0 0;
}

.u-section-2 .u-form-1 {
  height: 44px;
  margin: 15px 15px 0 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 299px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 775px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 109px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-2 {
    width: 350px;
    margin-right: -40px;
    margin-left: 49px;
  }

  .u-section-2 .u-image-1 {
    width: 104px;
    height: 98px;
    margin-top: 15px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    width: 350px;
    margin-top: 4px;
    margin-right: -40px;
    margin-left: 49px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 169px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 69px;
    margin-left: 38px;
  }

  .u-section-2 .u-text-2 {
    width: 268px;
    margin-right: -25px;
    margin-left: 38px;
  }

  .u-section-2 .u-image-1 {
    width: 98px;
    height: 99px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-3 {
    width: 268px;
    margin-top: 3px;
    margin-right: -25px;
    margin-left: 38px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 269px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 149px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 95px;
    margin-left: 20px;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 223px;
    height: 218px;
    margin-top: 9px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -110px;
    margin-right: 95px;
    margin-left: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 44px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 79px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 84px;
    height: 83px;
    margin-top: 35px;
    margin-right: -24px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -1px;
    margin-right: 40px;
    margin-left: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
}